*{
    margin: 0%;
    padding: 0%;
}

#container{
    border: 2px solid black;
    height: 640px;
    padding: 10px;

    
}

#main{
    border: 2px solid darkgoldenrod;
    padding: 20px;
    margin-bottom: 20px;
}
#container-login{
    border: 2px solid black;
    height: 640px;
    padding: 10px;

    
}

#container-sponser{
    border: 2px solid black;
    height: 800px;
    padding: 10px;

    
}



#container-influencer{
    border: 2px solid black;
    height: 1050px;
    padding: 10px;

    
}

#input-form{
    border: 1px solid brown;
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    background-color:  lightgoldenrodyellow;
    padding: 30px;
    
}

#input-form-influencer{
    border: 1px solid darkolivegreen;
    width: 650px;
    height: 900px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    padding: 30px;
    background-color: lightgoldenrodyellow;

}
    
#input-form-sponser{
    border: 1px solid darkolivegreen;
    width: 650px;
    height: 650px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 30px;
    background-color: lightgoldenrodyellow;

}
    