<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "/static/dashboardstyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Admin Dashboard</title>
</head>
<body>
    <div id = "container-admin">
      <nav class="navbar navbar-expand-lg navbar-light " style="background-color: lightseagreen;">
            <a class="navbar-brand" href="#">Admin's Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/admin/dashboard/info"> Info <span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/admin/dashboard/find"> Find<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/admin/stats"> Stats <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login"> Logout</a>
                </li>
          </nav><br>
          <form action="/admin/search"  class="form-inline">
            <input type="text" class="form-control" id="search" name="search_word" placeholder="Search Sponsors and Influencers">
            <button type="submit" class="btn btn-primary">Search</button>
          </form><br>
          
          <style>
            form{
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
            }
            #parameter{
              margin-left: 10px;
              margin-right: 10px;
              width: 15%;
            }
            #search{
              margin-left: 10px;
              margin-right: 10px;
              width: 50%;
            }
          </style>


<div id="campaign"  class="justify-content-center">
  {%if influencers %}
  <table class="table">
    <thead>
          <tr>
            <th scope="col">*</th>
            <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Influencer Name</th>
            <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Category</th>
            <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Niche</th>
            <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Followers</th>
            <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Action</th>
          </tr>
      </thead>
    </thead>
    <tbody>
    {%for key, value in influencers.items()%}
      <tr>
        <th scope="row" style="font-family: 'Times New Roman', Times, serif;">{{key}}</th>
        <td style="font-family: 'Times New Roman', Times, serif;">{{value[0]}}</td>
        <td style="font-family: 'Times New Roman', Times, serif;">{{value[1]}}</td>
        <td style="font-family: 'Times New Roman', Times, serif;">{{value[2]}}</td>
        <td style="font-family: 'Times New Roman', Times, serif;">{{value[3]}} </td>

        <td><a href="/admin/view/user/{{key}}"><button type="button" class="btn btn-success">View</button></a>|<a href="/flag/user/{{key}}"><button type="button" class="btn btn-danger">Flag</button></a></td>
      </tr>
    {%endfor%}
    </tbody>
  </table>
  {%else%}
  <h3 style="font-family: 'Times New Roman', Times, serif;">No Influencer available!</h3>
  {%endif%}<br>


<div class="justify-content-center">
  {%if sponsers %}
  <table class="table">
    <thead>
          <tr>
            <th scope="col">*</th>
            <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Sponsor/Company Name</th>
            <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Industry</th>
            <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Action</th>
          </tr>
      </thead>
    </thead>
    <tbody>
    {%for key, value in sponsers.items()%}
      <tr>
        <th scope="row" style="font-family: 'Times New Roman', Times, serif;">{{key}}</th>
        <td style="font-family: 'Times New Roman', Times, serif;">{{value[0]}}</td>
        <td style="font-family: 'Times New Roman', Times, serif;">{{value[1]}}</td>

        <td><a href="/admin/view/sponser/{{key}}"><button type="button" class="btn btn-success">View</button></a>|<a href="/flag/sponser/{{key}}"><button type="button" class="btn btn-danger">Flag</button></a></td>
      </tr>
    {%endfor%}
    </tbody>
  </table>
  {%else%}
  <h3 style="font-family: 'Times New Roman', Times, serif;">No Sponsor available!</h3>
  {%endif%}<br>
</div>
</div>
        
</body>
</html>