<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "/static/loginstyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
    <div id = "container">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightgoldenrodyellow";>
        <a class="navbar-brand" href="/">Influencify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/login"> Login <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/influencer_signup"> Influencer Register<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/sponser_signup"> Sponsor Register<span class="sr-only"></span></a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                Register</a>
              <div class="dropdown-menu">
                <li><a class="dropdown-item" href="/influencer_signup"> Influencer Register</a></li>
                <li><a class="dropdown-item" href="/sponser_signup"> Sponser Register</a></li>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>
    </nav><br>
            <div id="main" >
              <div class="d-flex justify-content-md-center">
                <h3 style="font-family: 'Times New Roman', Times, serif;"  >Influencify - Welcome to Influencer Engagement and Sponsorship Coordination Platform</h3>
              </div>
              <div class="d-flex justify-content-md-center">
                  <h5 style="font-family: 'Times New Roman', Times, serif;"><p>It's a platform to connect Sponsors and Influencers so that sponsors can get their product/service advertised and influencers can get monetary benefit. So register as a Sponsor or an Influencer if you haven't and login if you are already a User!</p></h5>
              </div><br>

              <img src="/static/img/home1.jpg" width="450px" height="350px">
              <img src="/static/img/home3.jpg" width="400px" height="350px">
              <img src="/static/img/home2.jpg" width="400px" height="350px"><br><br><br><br>

             



            </div>
    </div>