<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "/static/dashboardstyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Influencer Dashboard</title>
</head>
<body>
    <div id = "container-influencer-find">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color:orange;">
            <a class="navbar-brand" href="#">Influencer's Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/influencer/dashboard/profile/{{influencer.id}}"> Profile </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/influencer/dashboard/find/{{influencer.id}}"> Find</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/influencer/stats"> Stats</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login"> Logout</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/edit/profile/page/{{influencer.id}}" > <strong>Edit Profile ({{influencer.full_name}})</strong></a>
                </li>
          </nav><br>
          <form action="/influencer/search"  class="form-inline">
            <input type="text" class="form-control" id="search" name="search_word" placeholder="Search campaigns on the basis of name/niche etc">
            <button type="submit" class="btn btn-primary">Search</button>
          </form><br>
          
          <style>
            form{
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
            }
            #parameter{
              margin-left: 10px;
              margin-right: 10px;
              width: 15%;
            }
            #search{
              margin-left: 10px;
              margin-right: 10px;
              width: 50%;
            }
          </style>

          
          <!--Table creation-->
          <div id="campaign">
            {%if campaigns%}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Campaign</th>
                  <th scope="col">Niche</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Budget</th>
                 
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
              {%for key, value in campaigns.items()%}
                <tr>
                  <th scope="row">{{key}}</th>
                  <td>{{value[0]}}</td>
                  <td>{{value[1]}}</td>
                  <td>{{value[2]}}</td>
                  <td>{{value[4]}}</td>
                  <td>${{value[3]}}</td>
                  <td><div id="button-container-influencer">
                            <a href="/view/campaign/influencer/{{key}}"><button type="button" class="btn btn-warning">View</button></a>
                            <form action="/send/request/{{influencer.id}}" method="POST">
                            <input type="hidden" name="campaign_id" value="{{ key }}">
                            <input type="hidden" name="sponser_id"  value="{{value[5]}}">
                            <input type="hidden" name="influencer_id"  value="{{influencer.id}}">
                            <button type="submit" class="btn btn-success">Request</button></td>
                          </form>
                  </div>

                      
                </tr>
              {%endfor%}
              </tbody>
            </table>
            {%else%}
            <h3>No Campaigns available!</h3>
            {%endif%}<br>
            
          </div>
        <div>
    </div>
</body>
</html>