<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "/static/dashboardstyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Sponser Dashboard</title>
</head>
<body>
    <div id = "container-sponser">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: darkgoldenrod;">
        <a class="navbar-brand" href="#">Sponser's Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/sponser/dashboard/profile"> Profile </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#"> Campaigns</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/sponser/dashboard/find"> Find</span></a>
            </li>            
            <li class="nav-item active">
              <a class="nav-link" href="/sponser/stats"> Stats </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"> Logout</a>
            </li>
      </nav><br>
            {%if campaigns%}
            <div class="container">
              <div class="row">
                {%for campaign in campaigns%}
                <div class="col">
                  <!--Card1 in col-1 -->
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <input type="hidden" name="campaign_id" value="{{campaign.id}}">
                      <h5 style="font-family: 'Times New Roman', Times, serif;" class="card-title">Title : {{campaign.name}} </h5>
                        <a href="#" type="button" class="btn" id="edit_button" data-bs-toggle="modal" data-bs-target="#editCampaignModal" data-val="{{campaign.name}}#{{campaign.description}}#{{campaign.goals}}#{{campaign.budget}}#{{campaign.niche}}#{{campaign.visibility}}"><img src="/static/img/icons8-edit-40.png"> </a>|
                        <a href="#" type="button" class="btn" id="delete_button" data-bs-toggle="modal" data-bs-target="#deleteCampaignModal" data-val="{{campaign.name}}#{{campaign.description}}#{{campaign.goals}}#{{campaign.budget}}#{{campaign.niche}}#{{campaign.visibility}}"><img src="/static/img/icons8-delete-40.png">
                      </a>
                      <p style="font-family: 'Times New Roman', Times, serif;" class="card-text">Description : {{campaign.description}}</p><br>
                      <a href="{{ url_for('sponser_dashboard_view_campaign', campaign_id = campaign.id) }}" class="btn btn-primary">View Campaign</a>
                    </div>
                  </div>
                </div><br>
                {%endfor%}
              {%else%}
                <div><h3 style="font-family: 'Times New Roman', Times, serif;">No Campaigns are available to you!</h3></div> <br>
              {%endif%}
            
                <div class="d-flex justify-content-md-center">
                  <h3 style="font-family: 'Times New Roman', Times, serif;">Add Campaigns</h3><br><br>
                </div>
                <div class="d-flex justify-content-md-center">
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addCampaignModal" >+ New Campaign</button>
                </div>


  <!--Modal dialog boxes for Add Campaigns-->
      <form method= "POST"     action="/add/campaign/{{sponser.id}}"  >
        <div class="modal fade" id="addCampaignModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 style="font-family: 'Times New Roman', Times, serif;" class="modal-title" id="exampleModalLabel">New Campaign</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <input for="sponser_id" class="form-control" name="sponser_id" value="{{sponser.id}}" hidden>
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" id="title">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                <label for="goals" class="form-label">Goals</label>
                <textarea class="form-control" name="goals" id="goals" rows="2"></textarea>
                <label for="budget" class="form-label">Budget</label>
                <input type="number" class="form-control" name="budget" id="budget">
                <label for="niche" class="form-label">Niche</label>
                <input type="text" class="form-control" name="niche" id="niche">
                <label for="visibility" class="form-label">Visibility</label>
                <input type="visibility" class="form-control" name="visibility" id="visibility">
                <!-- <label for="start_date" class="form-label">Start Date</label>
                <input type="text" class="form-control" name="start_date" id="start_date"> -->
                <label for="end_date" class="form-label">End Date</label>
                <input type="date" class="form-control" name="end_date" id="end_date"> 

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </div>
          </div>
        </div>
      </form>
  <!--End of Modal dialog for Add campaigns-->
    
  <!--Modal dialog boxes for Edit Campaigns-->
  <form action="/edit/campaign/{{sponser.id}}" method="POST">
    <div class="modal fade" id="editCampaignModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
  
          <div class="modal-header">
            <h5 class="modal-title" style="font-family: 'Times New Roman', Times, serif;">Edit Campaign</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            <label for="title" class="form-label" style="font-family: 'Times New Roman', Times, serif;">Title</label>
            <input type="text" class="form-control" name="title" id="title">
            <label for="description" class="form-label" style="font-family: 'Times New Roman', Times, serif;">Description</label>
            <textarea class="form-control" name="description" id="description" rows="5"></textarea>
            <label for="goals" class="form-label" style="font-family: 'Times New Roman', Times, serif;">Goals</label>
            <textarea class="form-control" name="goals" id="goals" rows="2"></textarea>
            <label for="budget" class="form-label" style="font-family: 'Times New Roman', Times, serif;">Budget</label>
            <input type="number" class="form-control" name="budget" id="budget">
            <label for="niche" class="form-label" style="font-family: 'Times New Roman', Times, serif;">Niche</label>
            <input type="text" class="form-control" name="niche" id="niche">
            <label for="visibility" class="form-label" style="font-family: 'Times New Roman', Times, serif;">Visibility</label>
            <input type="visibility" class="form-control" name="visibility" id="visibility">
          </div>
    
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" style="font-family: 'Times New Roman', Times, serif;">Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-family: 'Times New Roman', Times, serif;">Close</button>
          </div>
        
        </div>
      </div>
    </div>
    </form>
    <script>
      $("#editCampaignModal").on("show.bs.modal", function(event){
        var st=$(event.relatedTarget).data('val');
        var values=st.split('#');
        $(this).find('#title').val(values[0]);
        $(this).find('#description').val(values[1]);
        $(this).find('#goals').val(values[2]);
        $(this).find('#budget').val(values[3]);
        $(this).find('#niche').val(values[4]);
        $(this).find('#visibility').val(values[5]);
      });
    </script>

  <!-- End of Modal dialog boxes for Edit Campaigns -->


  <!--Modal dialog boxes for Delete Campaigns-->
  <form action="/delete/campaign/{{sponser.id}}" method="POST">
    <div class="modal fade" id="deleteCampaignModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="font-family: 'Times New Roman', Times, serif;">Delete Campaign?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            <label for="title" class="form-label" style="font-family: 'Times New Roman', Times, serif;">Title</label>
            <input type="text" class="form-control" name="title" id="title" readonly>
            <label for="description" class="form-label" style="font-family: 'Times New Roman', Times, serif;">Description</label>
            <textarea class="form-control" name="description" id="description" rows="5" readonly></textarea>
            <label for="goals" class="form-label" style="font-family: 'Times New Roman', Times, serif;">Goals</label>
            <textarea class="form-control" name="goals" id="goals" rows="2" readonly></textarea>
            <label for="budget" class="form-label" style="font-family: 'Times New Roman', Times, serif;">Budget</label>
            <input type="number" class="form-control" name="budget" id="budget" readonly>
            <label for="niche" class="form-label" style="font-family: 'Times New Roman', Times, serif;">Niche</label>
            <input type="text" class="form-control" name="niche" id="niche" readonly>
            <label for="visibility" class="form-label" style="font-family: 'Times New Roman', Times, serif;">Visibility</label>
            <input type="visibility" class="form-control" name="visibility" id="visibility" readonly>
          </div>
    
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-family: 'Times New Roman', Times, serif;">Close</button>
            <button type="submit" class="btn btn-danger" style="font-family: 'Times New Roman', Times, serif;">Delete</button>
          </div>
        
        </div>
      </div>
    </div>
    </form>
  <script>
    $("#deleteCampaignModal").on("show.bs.modal", function(event){
        var st=$(event.relatedTarget).data('val');
        var values=st.split('#');
        $(this).find('#title').val(values[0]);
        $(this).find('#description').val(values[1]);
        $(this).find('#goals').val(values[2]);
        $(this).find('#budget').val(values[3]);
        $(this).find('#niche').val(values[4]);
        $(this).find('#visibility').val(values[5]);
      });
  </script>
  
  <!--End of Modal dialog boxes for Delete Campaigns-->


  </body>
</html>