<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "/static/dashboardstyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Sponsor Dashboard</title>
</head>
<body>
    <div id = "container-sponser">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: darkgoldenrod;">
        <a class="navbar-brand" href="#">Sponsor's Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/sponser/dashboard/profile/{{sponser.id}}"> Profile </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/sponser/dashboard/campaign/{{sponser.id}}"> Campaigns</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/sponser/dashboard/find/{{sponser.id}}"> Find</span></a>
            </li>            
            <li class="nav-item active">
              <a class="nav-link" href="/sponser/stats"> Stats </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"> Logout</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/edit/profile/{{sponser.id}}"> <b>Edit Profile ({{sponser.user_name}})</b></a>
            </li>

      </nav>
            <div id="main" style="text-align: center;">
              <label><h4 style="font-family: 'Times New Roman', Times, serif;">Welcome Sponsor "{{sponser.user_name}}"  </h4></label>
            </div>

            <label><h5 style="font-family: 'Times New Roman', Times, serif; padding-left: 20px;"><b>Active Campaigns :</b></h5></label>
          

            <div id="campaign">
              {%if campaigns%}
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">*</th>
                    <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Campaign</th>
                    <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Niche</th>
                    <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Visibility</th>
                    <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Action</th>
                  </tr>
                </thead>
                <tbody>
                {%for campaign in campaigns%}
                  <tr>
                    <th scope="row" style="font-family: 'Times New Roman', Times, serif;">{{campaign.id}}</th>
                    <td style="font-family: 'Times New Roman', Times, serif;">{{campaign.name}}</td>
                    <td style="font-family: 'Times New Roman', Times, serif;">{{campaign.niche}}</td>
                    <td style="font-family: 'Times New Roman', Times, serif;">{{campaign.visibility}}</td>
                    <td><a href="/view/campaign/sponser/{{campaign.id}}"><button type="button" class="btn btn-warning">View</button></a></td>
                  </tr>
                {%endfor%}
                </tbody>
              </table>
              {%else%}
              <h3 style="font-family: 'Times New Roman', Times, serif;">No Campaigns available!</h3>
              {%endif%}
            </div><br>

            <label><h5 style="font-family: 'Times New Roman', Times, serif; padding-left: 20px;"><b>New Requests :</b></h5></label>
            <div id="campaign">
              {%if requests%}
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">*</th>
                    <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Influencer Name</th>
                    <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Campaign Name</th>
                    <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Status</th>
                    <th scope="col" style="font-family: 'Times New Roman', Times, serif;">Action</th>
                  </tr>
                </thead>
                <tbody>
                {%for request in requests%}
                  <tr>
                    <th scope="row">{{request.id}}</th>
                    <td style="font-family: 'Times New Roman', Times, serif;">{{request.influencer.full_name}}</td>
                    <td style="font-family: 'Times New Roman', Times, serif;">{{request.campaign.name}}</td>
                    <td style="font-family: 'Times New Roman', Times, serif;">{{request.status}}</td>
                    <td>
                      <div id="button-container">
                        <form action="/accept/request/{{sponser.id}}" method="POST">
                          <input type="hidden" name="request_id" value="{{request.id}}">
                          <button type="submit" class="btn btn-success">Accept</button>
                        </form><br>
                        <form action="/reject/request/{{sponser.id}}" method="POST">
                          <input type="hidden" name="request_id" value="{{request.id}}">
                          <button type="submit" class="btn btn-danger">Reject</button></td>
                        </form>
                      </div>
                      
                      
                  </tr>
                {%endfor%}
                </tbody>
              </table>
              {%else%}
              <h3 style="font-family: 'Times New Roman', Times, serif;">No Request available!</h3>
              {%endif%}
              
            </div>
             
           
              
                
        </div>
    </div>
</body>
</html>