<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Sponser Dashboard</title>
</head>
<body>
    <div id = "container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Sponser's Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/sponser/dashboard/profile"> Profile </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/sponser/dashboard/campaign"> Campaigns</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/sponser/dashboard/find"> Find</span></a>
            </li>            
            <li class="nav-item active">
              <a class="nav-link" href="#"> Stats </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"> Logout</a>
            </li>
      </nav><br>
      <form action="/sponser/dashboard/view/campaign/{{name}}"   method="GET"> 
      {%if campaigns%}
            <div class="container">
              <div class="row">
                {%for campaign in campaigns%}
                {%if campaign.name == name %}
                 <h2>Title : {{campaign.name}}</h2>
                 <h4>Goals : {{campaign.goals}}</h4>
                 <h4>Budget : {{campaign.budget}}</h4>
             </div>
             {%endif%}
            </div><br>
            {%endfor%}
      {%endif%}
    </form>