<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Campaign</title>
</head>
<body>
    <!--Modal dialog boxes for Campaigns-->
    <div id = "container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Sponser's Dashboard</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/sponser/dashboard/profile"> Profile </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/sponser/dashboard/campaign"> Campaigns</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/sponser/dashboard/find"> Find</span></a>
              </li>            
              <li class="nav-item active">
                <a class="nav-link" href="#"> Stats </span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login"> Logout</a>
              </li>
        </nav><br>
        <!-- {%if campaign.ad_request%}
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                        {%for ad_request in campaign.ad_request%}
                          <tr>
                            <td>{{ad_request.id}}</td>
                            <td>{{ad_request.title}}</td>
                            <td>
                              <a href="#" type="button" id="btn_edit_button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#editCardModal" data-val="{{ad_request.id}}#{{card.title}}#{{card.content}}#{{card.dead_line}}#{{card.status}}#{{card.list_id}}">Edit</a>
                              <a href="#" type="button" id="btn_delete_button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteCardModal" data-val="{{card.id}}#{{card.title}}#{{card.content}}#{{card.dead_line}}#{{card.status}}#{{card.list_id}}">Delete</a>
                            </td>
                          </tr>
                        {%endfor%}
                        </tbody>
                      </table>
                      {%else%}
                      <p>No card in the list</p>
                      {%endif%} -->
                      <!-- <a href="#" type="button" id="btn_add_button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#addCardModal" data-val="{{list.id}}">New</a>  -->
    
</body>
</html>