<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "/static/dashboardstyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Sponsor Dashboard</title>
</head>
<body>
    <div id = "container-sponser">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: darkgoldenrod;">
        <a class="navbar-brand" href="#">Sponsor's Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/sponser/dashboard/profile/{{campaign.sponser_id}}"> Profile </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/sponser/dashboard/campaign/{{campaign.sponser_id}}"> Campaigns</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/sponser/dashboard/find/{{campaign.sponser_id}}"> Find</span></a>
            </li>            
            <li class="nav-item active">
              <a class="nav-link" href="/sponser/stats"> Stats </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"> Logout</a>
            </li>
      </nav><br>
    
    <div id="campaign">
      <ul>
        <h3 style="font-family: 'Times New Roman', Times, serif;"><strong>Name:</strong> {{ campaign.name }}</h3>
          <li>
            <h6 style="font-family: 'Times New Roman', Times, serif;"><strong>Budget:</strong> {{ campaign.budget }}</h6>
          </li>
          <li>
            <h6 style="font-family: 'Times New Roman', Times, serif;"><strong>Goals:</strong> {{ campaign.goals }}</h6>
          </li>
      </ul>
    </div>
    <ul>
      <p><h5 style="font-family: 'Times New Roman', Times, serif;">Ad-Requests : </h5></p>
    </ul>
    
      
    <!--Creating Ad-Request-->
{%if campaigns%}
<div class="container">
  <div class="row">
    {%for camp in campaigns%}
      {%if camp.ad_requests%}
        {%for ad in camp.ad_requests%}
    <div class="col">
      <!-- Card1 in col-1 -->
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <input type="hidden" name="ad_request_id" value="{{ad.id}}">
          <h5 style="font-family: 'Times New Roman', Times, serif;" class="card-title">Ad Name : {{ad.name}} </h5>
            <a href="#" type="button" class="btn" id="edit_button" data-bs-toggle="modal" data-bs-target="#editAdRequestModal" data-val="{{ad.name}}#{{ad.description}}#{{ad.requirements}}#{{ad.payment_amount}}#{{ad.status}}#{{ad.influencer_id}}"><img src="/static/img/icons8-edit-40.png"> </a>|
            <a href="#" type="button" class="btn" id="delete_button" data-bs-toggle="modal" data-bs-target="#deleteAdRequestModal" data-val="{{ad.name}}#{{ad.description}}#{{ad.requirements}}#{{ad.payment_amount}}#{{ad.status}}#{{ad.influencer_id}}"><img src="/static/img/icons8-delete-40.png">
          </a>
          <p style="font-family: 'Times New Roman', Times, serif;" class="card-text">Description : {{ad.message}}</p>
          <a href="#" ></a>
        </div>
      </div>
    </div><br>
    {%endfor%}
    {%else%}
        <p></p>
    {%endif%}
    {%endfor%}
  {%else%}
    <div><h3></h3></div> 
  {%endif%}

  <br>
          <div class="d-flex justify-content-md-center">
            <h3 style="font-family: 'Times New Roman', Times, serif;">Add Ad-Request</h3><br><br>
          </div>
          <div class="d-flex justify-content-md-center">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addAdRequestModal" >+ Create Ad-Request</button>
          </div>
  
    
<!--Modal dialog box for Adding Ad Request-->
<form method= "POST"  action="/add/ad_request/{{campaign.id}}"  >
<div class="modal fade" id="addAdRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">New Ad</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <input for="campaign_id" class="form-control" name="campaign_id" value="{{campaign.id}}" hidden>
      <label for="ad_name" class="form-label">Ad Name</label>
      <input type="text" class="form-control" name="ad_name" id="ad_name">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" name="description" id="description" rows="4"></textarea>
      <label for="terms" class="form-label">Terms</label>
      <textarea class="form-control" name="terms" id="terms" rows="2"></textarea>
      <label for="payment" class="form-label">Payment</label>
      <input type="number" class="form-control" name="payment" id="payment">
      <label for="influencer" class="form-label">Influencer Assigned</label>
      <input type="number" class="form-control" name="influencer" id="influencer">
      
    </div>
    <div class="modal-footer" >
      <div class="d-flex justify-content-md-start">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      <div class="d-flex justify-content-md-center">
         <button type="submit" class="btn btn-primary">Add</button>
      </div>
      <div class="d-flex justify-content-md-end">
        <button type="button" class="btn btn-warning">Find Influencer</button>
      </div>
      
    
    </div>
  </div>
</div>
</div>
</form>
<!--End of Modal dialog for Add Ad Requests-->
  
  <!--Modal dialog boxes for Edit Ad Request-->
  <form action="/edit/ad_request/{{campaign.id}}" method="POST">
    <div class="modal fade" id="editAdRequestModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
  
          <div class="modal-header">
            <h5 class="modal-title">Edit Ad-Request</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            <label for="title" class="form-label">Ad Name</label>
            <input type="text" class="form-control" name="ad_name" id="ad_name">
            <label for="terms" class="form-label">Terms</label>
            <textarea class="form-control" name="terms" id="terms" rows="2"></textarea>
            <label for="payment" class="form-label">Payment</label>
            <input type="number" class="form-control" name="payment" id="payment">
            <label for="status" class="form-label">Status</label>
            <input type = "text" class ="form-control" name="status" id="status">
            <label for="influencer" class="form-label">Influencer Assigned</label>
            <input type="number" class="form-control" name="influencer" id="influencer">
          </div>
    
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        
        </div>
      </div>
    </div>
    </form>
    <script>
      $("#editAdRequestModal").on("show.bs.modal", function(event){
        var st=$(event.relatedTarget).data('val');
        var values=st.split('#');
        $(this).find('#ad_name').val(values[0]);
        $(this).find('#terms').val(values[2]);
        $(this).find('#payment').val(values[3]);
        $(this).find('#status').val(values[4]);
        $(this).find('#influencer').val(values[5]);

      });
    </script>

  <!-- End of Modal dialog boxes for Edit Ad Request -->

  <!--Modal dialog boxes for Delete Ad requests-->
  <form action="/delete/campaign/{{campaign.id}}" method="POST">
    <div class="modal fade" id="deleteAdRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Ad-Request?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            <label for="title" class="form-label">Ad Name</label>
            <input type="text" class="form-control" name="ad_name" id="ad_name" readonly>
            <label for="goals" class="form-label">Terms</label>
            <textarea class="form-control" name="terms" id="terms" rows="2" readonly></textarea>
            <label for="title" class="form-label">Status</label>
            <input type = "text" class ="form-control" name="status" id="status" placeholder="Accepted/Rejected" readonly>
            <label for="payment" class="form-label">Payment</label>
            <input type="number" class="form-control" name="payment" id="payment" readonly>
            <label for="influencer" class="form-label">Influencer Assigned</label>
            <input type="number" class="form-control" name="influencer" id="influencer" readonly>
          </div>
    
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        
        </div>
      </div>
    </div>
    </form>
  <script>
    $("#deleteAdRequestModal").on("show.bs.modal", function(event){
        var st=$(event.relatedTarget).data('val');
        var values=st.split('#');
        $(this).find('#ad_name').val(values[0]);
        $(this).find('#terms').val(values[2]);
        $(this).find('#payment').val(values[3]);
        $(this).find('#status').val(values[4]);
        $(this).find('#influencer').val(values[5]);

      });
  </script>
  
  <!--End of Modal dialog boxes for Delete Campaigns-->


  </body>
</html>
